<div class="container-fluid">
  <header class="row justify-content-center">
      <app-header></app-header>
  </header>
  <main class="row">
    <div class="col-2">
      <div class="row h-100">
          <app-left-sidebar></app-left-sidebar>
      </div>
    </div>
    <div class="col-7">
      <div class="row h-100">
        <app-main></app-main>
      </div>
    </div>
    <div class="col-3">
      <div class="row h-100">
        <app-right-sidebar></app-right-sidebar>
      </div>
    </div>
  </main>
</div>

