<nav class="nav d-flex justify-content-between">
  <a class="p-2 text-muted" href="#" (click)="onHyperlinkClicked('advertisment')">Advertisment</a>
  <a class="p-2 text-muted" href="#" (click)="onHyperlinkClicked('chat')">Chat</a>
  <a class="p-2 text-muted" href="#" (click)="onHyperlinkClicked('calendar')">Calendar</a>
  <a class="p-2 text-muted" href="#" (click)="onHyperlinkClicked('survey')">Survey</a>
  <a class="p-2 text-muted" href="#" (click)="onHyperlinkClicked('files')">Files</a>
  <a class="p-2 text-muted" href="#" (click)="onHyperlinkClicked('settings')">Settings</a>
</nav>
